{% extends "::layout.html.twig" %}

{% block title %}
	Oops ! Wrong turn !| {{ parent() }}
{% endblock %}

{% block content %}
	<h1>Vous ne devriez pas être ici&nbsp;!</h1>
	
	<p>
		Vous avez dû vous perdre quelque part, et nous ne pouvons que vous inviter à rejoindre
		l'<a href="{{ path("sed_prestations_front_homepage") }}">accueil</a>
	</p>
		
{% endblock %}
