{% extends "::layout.html.twig" %}

{% block title %}
	Oops ! Probleme de serveur ! | {{ parent() }}
{% endblock %}

{% block content %}
	<h1>Nous avons un problème de serveur&nbsp;!</h1>
	
	<p>Mais nous travaillons avec diligence pour regler le problème.</p>
	
	<p>Nous vous invitons à revenir ulterieurement.</p>
		
{% endblock %}
