{% extends "::layout.html.twig" %}

{% block title %}
	Oops ! | {{ parent() }}
{% endblock %}

{% block content %}
	<h1>Nous sommes désolés. Une erreur est arrivée.</h1>
	
	<p>
		Veuillez contacter le <a href="mailto:sed.robert@gmail.com">webmaster</a>
		avec le message suivant&nbsp: <code>{{ status_code }}&nbsp;: {{ status_text }}</code>;
		et une description de vos actions lorsque cela est arrivé.<br/>
		Nous nous excusons du dérangement.
	</p>
		
{% endblock %}
