{%  extends "::layout.html.twig" %}

{% block content %}
	{%  for key, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="alert alert-{{ key }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	
	{% block fos_user_content %}
	{% endblock fos_user_content%}
	
{% endblock %}
