{% extends "::layout.html.twig" %}

{% block title %}
	Ajouter une nouvelle prestation | {{ parent() }}
{% endblock %}

{% block content %}
	<h1>Nouvelle prestation</h1>
    {% include("SedPrestationsBundle:Prestations:form.html.twig") %}
    
    <p><a href="{{ path("sed_prestations_back_homepage") }}"><i class="fa fa-arrow-left"></i>&nbsp;Retour</a></p>
{% endblock %}
