{% form_theme form 'SedPrestationsBundle::submit.html.twig' %}

{{ form_start(form) }}

{{ form_errors(form) }}

{{ form_row(form.lieu) }}

<div class="form-group">
    {{ form_label(form.date) }}
    {{ form_errors(form.date) }}
    {{ form_widget(form.date.day) }}{{ form_widget(form.date.month) }}{{ form_widget(form.date.year) }}
</div>

<div class="form-group">
	{{ form_label(form.duree, "Durée")}}
	{{ form_errors(form.duree) }}
    {{ form_widget(form.duree) }}
</div>

<div class="form-group">
	{{ form_label(form.danseurs)}}
	{{ form_errors(form.danseurs) }}
    {{ form_widget(form.danseurs, {"attr": {"class": "linear"}}) }}
</div>

{{ form_rest(form) }}
{{ form_end(form) }}
