{% extends "::layout.html.twig" %}

{%  block title %}
	Liste des prestations | {{ parent() }}
{% endblock %}

{% block styles %}
	{% include ("SedPrestationsBundle:css:liste.html.twig") %}
{% endblock %}

{% block content %}
    <h1>Prestations</h1>
    
	{%  for key, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="alert alert-{{ key }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
    
    <table>
    	<thead>
            <tr>
                <th>Date</th>
                <th>Lieu</th>
            </tr>
    	</thead>
    	<tbody>
    		{% for prestation in prestations %}
    		<tr>
    			<td>{{ prestation.date | date("d/m/y")}}</td>
    			<td>{{ prestation.lieu }}</td>
    			<td>
    				<a href="{{ path("sed_prestations_prestations_update",{id:prestation.id}) }}"><img src="{{ asset("images/update.png") }}" alt="Modifier" title="Modifier" /></a>
    				<a href="{{ path("sed_prestations_prestations_delete", {id:prestation.id}) }}"><img src="{{ asset("images/delete.png") }}" alt="Supprimer" title="Supprimer" /></a>
    			</td>
    		</tr>
    		{% endfor %}
    	</tbody>
    </table>
    
    <h2>Anciennes prestations&nbsp;:</h2>
    <table>
    	<thead>
            <tr>
                <th>Date</th>
                <th>Lieu</th>
            </tr>
    	</thead>
    	<tbody>
    		{% for prestation in anciennes %}
    		<tr>
    			<td>{{ prestation.date | date("d/m/y")}}</td>
    			<td>{{ prestation.lieu }}</td>
    			<td>
    				<a href="{{ path("sed_prestations_prestations_update",{id:prestation.id}) }}"><img src="{{ asset("images/update.png") }}" alt="Modifier" /></a>
    				<a href="{{ path("sed_prestations_prestations_delete", {id:prestation.id}) }}"><img src="{{ asset("images/delete.png") }}" alt="Supprimer" /></a>
    			</td>
    		</tr>
    		{% endfor %}
    	</tbody>
    </table>
    
    <div class="pagination-wrapper">
        <ul class="pagination">
            {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
            {% for p in range(1, nbPages) %}
            <li{% if p == page %} class="active"{% endif %}>
            	<a href="{{ path('sed_prestations_back_homepage', {'page': p}) }}">{{ p }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <p><a href="{{ path("sed_prestations_prestations_add") }}">Ajouter une nouvelle prestation</a></p>
{% endblock %}
