{% extends "::layout.html.twig" %}

{% block title %}
	Gestion du programme d'une prestation | {{ parent() }}
{% endblock %}

{% block styles %}
	{% include ("SedPrestationsBundle:css:planning.html.twig") %}
{% endblock %}

{% block content %}
	<h1>Programme de la prestation du {{ prestation.date | date("d/m/y") }} à {{ prestation.lieu }}</h1>
	
	{%  for key, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="alert alert-{{ key }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	
	<div id="time">
		<p>
    		<span class="etiquette" id="remainingTime_label">Temps restant :</span><br/>
    		<span id="remainingTime">{{ time }}</span>
		</p>
		<ul id="currentDances"></ul>
	</div>
	<form action="" method="post">
		{% if prestation.danses is not empty %}
		<h2>Programme actuel&nbsp;:</h2>	
			{% for dance in prestation.danses %}
			<div class="planned">
    			<input type="checkbox"
    				class="dance_checkbox"
    				id="dance{{ dance.dance.id }}"
    				name="programme[{{ dance.dance.id }}][dance]"
    				value="{{ dance.dance.id }}"
    				data_duration="{{ dance.dance.duree }}"
    				data_name="{{ dance.dance.name }}"
    				checked />
    			<div>
    				<p>
    					<label for="dance{{ dance.dance.id }}">
    					    {{ dance.dance.name }} ({{ dance.dance.duree }} min.)
					    </label>
				    <p>
    				<div>
    					<p class="etiquette">Danseurs&nbsp;:</p>
    					<div class="dancers">
        					{% for dancer in dance.dancers %}
        					<div class="dancer_field">
        						<input type="checkbox"
        							id="dance{{ dance.dance.id }}_dancer{{ dancer.id }}"
        							name="programme[{{ dance.dance.id }}][dancers][]"
        							value="{{ dancer.id }}"
        							checked />
        						<label class="dancer"
        							for="dance{{ dance.dance.id }}_dancer{{ dancer.id }}">
        							    {{ dancer.name }}
							    </label>
        					</div>
        					{% endfor %}
    					</div>
    				</div>
    			</div>
    		</div>
			{% endfor %}
		{% endif %}
		
		<input type="hidden" value="{{ prestation.duree }}" id="totalTime"/>
    	<h2>Programme conseillé&nbsp;:</h2>
    	{% if programme is not empty %}
        	{% if programme.chore is not empty %}
        		{% for dance in programme.chore %}
    		<div class="planned">
    			<input type="checkbox"
    				class="dance_checkbox"
    				id="dance{{ dance.dance.id }}"
    				name="programme[{{ dance.dance.id }}][dance]"
    				value="{{ dance.dance.id }}"
    				data_duration="{{ dance.dance.duree }}"
    				data_name="{{ dance.dance.name }}"
    				{% if prestation.danses is empty %}checked{% endif %} />
    			<div>
    				<p>
    					<label for="dance{{ dance.dance.id }}">
    					    {{ dance.dance.name }} ({{ dance.dance.duree }} min.)
					    </label>
				    <p>
    				<div>
    					<p class="etiquette">Danseurs&nbsp;:</p>
    					<div class="dancers">
        					{% for dancer in dance.actifs %}
        					<div class="dancer_field">
        						<input type="checkbox"
        							id="dance{{ dance.dance.id }}_dancer{{ dancer.id }}"
        							name="programme[{{ dance.dance.id }}][dancers][]"
        							value="{{ dancer.id }}"
        							{% if prestation.danses is empty %}checked{% endif %} />
        						<label class="dancer" for="dance{{ dance.dance.id }}_dancer{{ dancer.id }}">
        						    {{ dancer.name }}
    						    </label>
        					</div>
        					{% endfor %}
    					</div>
    					<p class="etiquette">Reserve&nbsp;:</p>
    					<div class="dancers">
    					    {% for dancer in dance.reserve.dancers %}
        					<div class="dancer_field">
        						<input type="checkbox"
        							id="dance{{ dance.dance.id }}_dancer{{ dancer.id }}"
        							name="programme[{{ dance.dance.id }}][dancers][]"
        							value="{{ dancer.id }}" />
        						<label class="dancer" for="dance{{ dance.dance.id }}_dancer{{ dancer.id }}">
        						    {{ dancer.name }}
    						    </label>
        					</div>
        					{% endfor %}
        					{% for dancer in dance.reserve.learners %}
        					<div class="dancer_field">
        						<input type="checkbox"
        							id="dance{{ dance.dance.id }}_dancer{{ dancer.id }}"
        							name="programme[{{ dance.dance.id }}][dancers][]"
        							value="{{ dancer.id }}" />
        						<label class="dancer learner" for="dance{{ dance.dance.id }}_dancer{{ dancer.id }}">
        						    {{ dancer.name }}
    						    </label>
        					</div>
        					{% endfor %}
    					</div>
    				</div>
    			</div>
    		</div>
        		{% endfor %}
        	{% endif %}
        	
    		{% if programme.final is defined %}
        	<div class="planned">
        		<input type="radio"
        			id="dance{{ programme.final.dance.id }}"
        			name="programme[final][dance]"
        			value="{{ programme.final.dance.id }}"
        			data_duration="{{ programme.final.dance.duree }}"
        			data_name="{{ programme.final.dance.name }}"
        			{% if prestation.danses is empty %}checked{% endif %} />
        	    <div>
        	        <p>
        	        	<label for="dance{{ programme.final.dance.id }}">
        	                {{ programme.final.dance.name }} ({{ programme.final.dance.duree }} min.)
    	            	</label>
	            	<p>
        	        <div class="dancers">
        	        	{% for dancer in programme.final.dancers %}
        	        	<div class="dancer_field">
        	        		<input type="checkbox"
        	        			id="dance{{ programme.final.dance.id }}_dancer{{ dancer.id }}"
        	        			name="programme[final][dancers][]"
        	        			value="{{ dancer.id }}"
        	        			{% if prestation.danses is empty %}checked{% endif %}/>
        	        		<label class="dancer" for="dance{{ programme.final.dance.id }}_dancer{{ dancer.id }}">
        	        		    {{ dancer.name }}
    	        		    </label>
        	        	</div>
        	        	{% endfor %}
        	        </div>
    	        </div>
    	    </div>
    	    {% endif %}
    	{% else %}
    		<p>Pas de danses faisables</p>
    	{% endif %}
    	
    	<p><input class="btn btn-success" type="submit" value="Enregistrer le programme"/></p>
    	
    	<h2>Danses possibles&nbsp;:</h2>
    	{% if others is not empty %}
        	{%  if others.chore is defined %}
        	    {% for dance in others.chore %}
    		<div class="other">
    			<input type="checkbox"
    				class="dance_checkbox"
    				id="dance{{ dance.dance.id }}"
    				name="programme[{{ dance.dance.id }}][dance]"
    				value="{{ dance.dance.id }}"
    				data_duration="{{ dance.dance.duree }}"
    				data_name="{{ dance.dance.name }}"/>
    			<div>
    				<p>
    					<label for="dance{{ dance.dance.id }}">
    					    {{ dance.dance.name }} ({{ dance.dance.duree }} min.)
					    </label>
				    <p>
    				<div class="dancers">
    					{% for dancer in dance.dancers %}
    					<div class="dancer_field">
    						<input type="checkbox"
    							id="dance{{ dance.dance.id }}_dancer{{ dancer.id }}"
    							name="programme[{{ dance.dance.id }}][dancers][]"
    							value="{{ dancer.id }}" />
    						<label class="dancer" for="dance{{ dance.dance.id }}_dancer{{ dancer.id }}">
    						    {{ dancer.name }}
						    </label>
    					</div>
    					{% endfor %}
    					{% if dance.learners is defined %}
        					{% for dancer in dance.learners %}
            					<div class="dancer_field">
            						<input type="checkbox"*
            							id="dance{{ dance.dance.id }}_dancer{{ dancer.id }}"
            							name="programme[{{ dance.dance.id }}][dancers][]"
            							value="{{ dancer.id }}" />
            						<label class="dancer learner" for="dance{{ dance.dance.id }}_dancer{{ dancer.id }}">
            						    {{ dancer.name }}
        						    </label>
            					</div>
        					{% endfor %}
    					{% endif %}
    				</div>
    			</div>
    		</div>
        	    {% endfor %}
    	    {% endif %}
    	    
        	{% if others.finals is defined %}
        	<h3>Finaux&nbsp;:</h3>
        		{% for final in others.finals %}
    		<div class="other">
    		    <input type="radio"
    		    	id="dance{{ final.dance.id }}"
    		    	name="programme[final][dance]"
    		    	data_duration="{{ final.dance.duree }}"
    		    	data_name="{{ final.dance.name }}"
    				value="{{ final.dance.id }}" />
        	    <div>
        	        <p>
        	        	<label for="dance{{ final.dance.id }}">
        	        	    {{ final.dance.name }} ({{ final.dance.duree }} min.)
    	        	    </label>
	        	    <p>
        	        <div class="dancers">
        	        	{% for dancer in final.dancers %}
        	        	<div class="dancer_field">
        	        		<input type="checkbox"
        	        			id="dance{{ final.dance.id }}_dancer{{ dancer.id }}"
        	        			name="programme[final][dancers][]"
        	        			value="{{ dancer.id }}"/>
        	        		<label class="dancer" for="dance{{ final.dance.id }}_dancer{{ dancer.id }}">
        	        		    {{ dancer.name }}
    	        		    </label>
        	        	</div>
        	        	{% endfor %}
        	        	{% if final.learners is not empty %}
        	        	    {% for dancer in final.learners %}
        	        	 <div class="dancer_field">
        	        		<input type="checkbox"
        	        			id="dance{{ final.dance.id }}_dancer{{ dancer.id }}"
        	        			name="programme[final][dancers][]"
        	        			value="{{ dancer.id }}"/>
        	        		<label class="dancer learner" for="dance{{ final.dance.id }}_dancer{{ dancer.id }}">
        	        		    {{ dancer.name }}
    	        		    </label>
        	        	</div>   
        	        	    {% endfor %}
        	        	{% endif %}
        	        </div>
    	        </div>
    	    </div>
        		{% endfor %}
        	{%  endif %}
        {% else %}
        	<p>Pas de danses possibles</p>
    	{% endif %}
	</form>
	
	<p><a href="{{ path("sed_prestations_back_homepage") }}"><i class="fa fa-arrow-left"></i>&nbsp;Retour</a></p>
{% endblock %}

{% block scripts %}        
	{% include ("SedPrestationsBundle:js:planning.html.twig") %}
{% endblock %}
