{% extends "::layout.html.twig" %}

{% block title %}
	Modification d'une prestation | {{ parent() }}
{% endblock %}

{% block styles %}
	{% include ("SedPrestationsBundle:css:show.html.twig") %}
{% endblock %}

{% block content %}
	<h1>Modifier la prestation du {{ prestation.date | date("d/m/y") }} à {{ prestation.lieu }}</h1>
	
	{%  for key, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="alert alert-{{ key }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	
    {% include("SedPrestationsBundle:Prestations:form.html.twig") %}
    
	<p class="controles">
		<a href="{{ path("sed_prestations_back_homepage") }}" class="precedent"><i class="fa fa-arrow-left"></i>&nbsp;Retour</a>
		<a href="{{ path("sed_prestations_prestations_programme", {id:prestation.id}) }}" class="suivant">
			Modifier le programme&nbsp;<i class="fa fa-arrow-right"></i>
		</a>
	<p>
{% endblock %}
