<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>{% block title %}Interface de gestion de prestation{% endblock %}</title>
	    <link
	    	rel="stylesheet"
	    	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	    	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	    	crossorigin="anonymous" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    	{% block styles %}
    	{% stylesheets filter="cssrewrite, ?scssphp" output="css/main.css" "css/style.css" %}
    	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    	{% endstylesheets %}
    	{% endblock %}
    	<link rel="apple-touch-icon" sizes="57x57" href="{{ asset("images/favicon/apple-icon-57x57.png") }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset("images/favicon/apple-icon-60x60.png") }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset("images/favicon/apple-icon-72x72.png") }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset("images/favicon/apple-icon-76x76.png") }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset("images/favicon/apple-icon-114x114.png") }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset("images/favicon/apple-icon-120x120.png") }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset("images/favicon/apple-icon-144x144.png") }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset("images/favicon/apple-icon-152x152.png") }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset("images/favicon/apple-icon-180x180.png") }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset("images/favicon/android-icon-192x192.png") }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset("images/favicon/favicon-32x32.png") }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset("images/favicon/favicon-96x96.png") }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset("images/favicon/favicon-16x16.png") }}">
        <link rel="manifest" href="{{ asset("images/favicon/manifest.json") }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset("images/favicon/ms-icon-144x144.png") }}">
        <meta name="theme-color" content="#ffffff">
    	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
  
    <body>
        <div id="page" class="container">
        	<header>
        		<a href="http://irish-tap-and-dance.fr/" target="_blank">
        			<img src="{{ asset("images/banner.jpg") }}" alt="Irish Tap and Dance"/>
        		</a>
        	</header>
        	<!-- Header/bannière -->     
            
            <nav>
            	<button type="button" class="navbar-toggle" id="menu-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">Menu</button>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
                	<div>
                    	<ul>
                            <li><a href="{{ path("sed_prestations_front_homepage") }}">Accueil</a></li>
                            {%  if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{  path("sed_prestations_back_homepage") }}">Prestations</a></li>
                            <li><a href="{{ path("sed_prestations_dancers_show") }}">Danseurs</a></li>
                            <li><a href="{{ path('sed_prestations_dances_show') }}">Danses</a></li>
                            	{% if is_granted("ROLE_DEV") %}
                            <li><a href="{{ path('sed_users_show') }}">Utilisateurs</a></li>	
                            <li><a href="{{  path("sed_prestations_todo") }}">ToDo</a></li>
                            	{%  endif %}
                            {% endif %}
                        </ul>
                        <ul>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        	<li>
                        	    {{ app.user.username }}<br/>
                        		<a href="{{ path("fos_user_security_logout") }}">Se déconnecter</a>
                    		</li>
                            {% else %}
                            <li><a href="{{ path("fos_user_security_login") }}">Se connecter</a></li>
                            {%  endif %}
                        </ul>
                    </div>
                </div>
			</nav>
			<!-- Menu de navigation -->
          
          <main class="row">
            <section id="content" class="col-md-9">
              {% block content %}
              {% endblock %}
            </section>
            <!-- Contenu principal -->
            
            <aside class="col-md-3">
            	<h3>A VENIR&nbsp;:</h3>
            	{{ render(controller("SedPrestationsBundle:Front:incoming")) }}
            </aside>
            <!-- Aside -->
          </main>
          <!-- Corps de page -->
        
          <footer>
          	<div><img src="{{ asset("images/logo-itd.jpg") }}" alt="logo d'irish Tap and Dance" /></div>
          	<p>Copyright 2015 Irish Tap & Dance</p>
          </footer>
          <!-- Footer -->
        </div>
        <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous">
		</script>
		<script 
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous">
		</script>
		
		{% block scripts %}        
        {% javascripts filter="?jsqueeze" output="scripts/main.js" "scripts/layout.js" %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}	
		{% endblock %}
    </body>
</html>
