{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('sed_users_change_password', {id:user.id}), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-success" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
