{% extends "@FOSUser/layout.html.twig" %}

{% block title %}
	Modifier le mot de passe de {{ user.username }}
{% endblock %}

{% block fos_user_content %}
<h1> Modifier le mot de passe de {{ user.username }}</h1>
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
<p><a href="{{ path("sed_users_show")}}"><i class="fa fa-arrow-left"></i>&nbsp;Retour</a></p>
{% endblock fos_user_content %}
