{% extends "::layout.html.twig" %}

{% block title %}
	Ajouter un danseur | {{ parent() }}
{% endblock %}

{% block content %}
	<h1>Ajouter un nouveau danseur</h1>
	{% include("SedPrestationsBundle:Dancers:form.html.twig") %}
{% endblock %}

{% block scripts %}
    {% include ("SedPrestationsBundle:js:danseurs.html.twig") %}
{% endblock %}
