{% form_theme form 'SedPrestationsBundle::submit.html.twig' %}

{{ form_start(form) }}
{{ form_errors(form) }}

<div class="form-group">
	{{ form_label(form.name, "Nom") }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }}	
</div>

<div class="form-group">
	{{ form_label(form.sex, "Sexe") }}
    {{ form_errors(form.sex) }}
    {{ form_widget(form.sex, {"attr": {"class": "linear"}}) }}	
</div>

<div class="form-group">
	{{ form_label(form.preference, "Type de pas préféré") }}
    {{ form_errors(form.preference) }}
    {{ form_widget(form.preference, {"attr": {"class": "linear"}}) }}	
</div>

{{ form_row(form.niveau) }}

{{ form_row(form.email) }}


<div class="form-group">
	{{ form_label(form.dances, "Danses connues") }}
    {{ form_errors(form.dances) }}
    {{ form_widget(form.dances, {"attr": {"class": "linear"}}) }}	
</div>

{{ form_rest(form) }}
{{ form_end(form) }}

<p><a href="{{ path("sed_prestations_dancers_show") }}"><i class="fa fa-arrow-left"></i>&nbsp;Retour</a></p>
