{% extends "::layout.html.twig" %}

{% block title %}
	Liste des danseurs | {{ parent() }}
{% endblock %}

{% block styles %}
	{% include ("SedPrestationsBundle:css:liste.html.twig") %}
{% endblock %}

{% block content %}
    <h1>Danseurs</h1>
    
	{%  for key, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="alert alert-{{ key }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
    
    <table>
        <thead>
            <tr>
                <th>Nom</th>
        	</tr>
        </thead>
        <tbody>
        	{% for dancer in dancers %}
        	<tr>
        		<td>{{ dancer.name }}</td>
        		<td>
        			<a href="{{ path("sed_prestations_dancers_update",{id:dancer.id}) }}"><img src="{{ asset("images/update.png") }}" alt="Modifier" title="Modifier" /></a>
        			<a href="{{ path("sed_prestations_dancers_delete",{id:dancer.id}) }}"><img src="{{ asset("images/delete.png")}}" alt="Supprimer" title="Supprimer" /></a>
        		</td>
        	</tr>
        	{% endfor %}
        </tbody>
    </table>
    
    <div class="pagination-wrapper">
        <ul class="pagination">
            {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
            {% for p in range(1, nbPages) %}
            <li{% if p == page %} class="active"{% endif %}>
            	<a href="{{ path('sed_prestations_dancers_show', {'page': p}) }}">{{ p }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <p><a href="{{ path("sed_prestations_dancers_add") }}">Ajouter un nouveau danseur</a></p>
{% endblock %}
