{% extends "::layout.html.twig" %}

{% block title %}
	Modifier {{ dancer.name }} | {{ parent() }}
{% endblock %}

{% block content %}
	<h1>Modifier {{ dancer.name }}</h1>
	
	{%  for key, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="alert alert-{{ key }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	
	{% include("SedPrestationsBundle:Dancers:form.html.twig") %}
{% endblock %}

{% block scripts %}        
	{%  include ("SedPrestationsBundle:js:danseurs.html.twig") %}	
{% endblock %}
