{% extends "::layout.html.twig" %}

{% block title %}
	Ajouter un utilisateur | {{ parent() }}
{% endblock %}

{% block content %}
	<h1>Ajouter un nouvel utilisateur</h1>
	{% include("SedUserBundle:User:form.html.twig") %}
	
	<p><a href="{{ path("sed_users_show") }}"><i class="fa fa-arrow-left"></i>&nbsp;Retour</a></a></p>
{% endblock %}
