{% extends "::layout.html.twig" %}

{% block title %}
Supprimer un utilisateur | {{ parent() }}
{% endblock %}

{% block styles %}
	{% include ("SedPrestationsBundle:css:delete.html.twig") %}
{% endblock %}

{% block content %}
	<h1>Supprimer {{ user.username }}&nbsp;?</h1>
	<form action="{{ path("sed_users_delete", {"id": user.id}) }}" method=post>
		<p><input class="btn btn-danger" type="submit" value="supprimer" /></p>
		{{ form_rest(form) }}
		<p><a href="{{ path("sed_users_show") }}"><i class="fa fa-arrow-left"></i>&nbsp;Retour</a></p>
	</form>
{% endblock %}

{% block scripts %}        
	{% include ("SedPrestationsBundle:js:delete.html.twig") %}
{% endblock %}
