{% form_theme form 'SedPrestationsBundle::submit.html.twig' %}

{{ form_start(form) }}
{{ form_errors(form) }}

{{ form_row(form.username) }}

{{ form_row(form.email) }}

{{ form_row(form.roles) }}

{{ form_rest(form) }}
{{ form_end(form) }}

