{% extends "::layout.html.twig" %}

{% block title %}
	Liste des utilisateurs | {{ parent() }}
{% endblock %}

{% block styles %}
	{% include ("SedPrestationsBundle:css:liste.html.twig") %}
{% endblock %}

{% block content %}
    <h1>Utilisateurs</h1>
    
	{%  for key, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="alert alert-{{ key }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Roles</th>
        	</tr>
        </thead>
        <tbody>
        	{% for user in users %}
        	<tr>
        		<td>{{ user.username }}</td>
        		<td>
        			{% for role in user.roles %}
        		        {{ role }}{% if loop.last == false %}, {% endif %}
        		    {% endfor %}
    		    </td>
        		<td>
        			<a href="{{ path("sed_users_update",{id:user.id}) }}"><img src="{{ asset("images/update.png") }}" alt="Modifier" title="Modifier" /></a>
        			<a href="{{ path("sed_users_delete",{id:user.id}) }}"><img src="{{ asset("images/delete.png")}}" alt="Supprimer" title="Supprimer" /></a>
        		</td>
        	</tr>
        	{% endfor %}
        </tbody>
    </table>
    
    <div class="pagination-wrapper">
        <ul class="pagination">
            {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
            {% for p in range(1, nbPages) %}
            <li{% if p == page %} class="active"{% endif %}>
            	<a href="{{ path('sed_users_show', {'page': p}) }}">{{ p }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <p><a href="{{ path("sed_users_add") }}">Ajouter un nouvel utilisateur</a></p>
{% endblock %}
