{% extends "::layout.html.twig" %}

{% block title %}
	Modifier {{ user.username }} | {{ parent() }}
{% endblock %}

{% block styles %}
	{% include ("SedPrestationsBundle:css:show.html.twig") %}
{% endblock %}

{% block content %}
	<h1>Modifier {{ user.username }}</h1>
	
	{%  for key, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="alert alert-{{ key }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	
	{% include("SedUserBundle:User:form.html.twig") %}
	
	<p class="controles">
		<a href="{{ path("sed_users_show") }}" class="precedent"><i class="fa fa-arrow-left"></i>&nbsp;Retour</a>
		<a href="{{ path("sed_users_change_password", {id:user.id}) }}" class="suivant">Modifier son mot de passe&nbsp;<i class="fa fa-arrow-right"></i></a>
	<p>
{% endblock %}
