table
{
	margin:auto;
}

th,td
{
	padding: 0 1em;
}

th
{
	text-align: center;
	color: rgb(53, 139, 78);
	font-weight:bold;
}

.pagination-wrapper
{
	display: flex;
	justify-content: center;
}

.pagination>li>a, .pagination>li>a:hover 
{
	color: rgb(53, 139, 78);
}

.pagination>.active>a, .pagination>.active>a:hover 
{
	background-color: rgb(53, 139, 78);
}
		
.sousPartie
{
	padding-left: 40px;
}

.variante
{
	padding-left: 20px;
}