h3
{
	text-align: left;
}

.planned, .other
{
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.planned input, .other input
{
	margin: 0px 10px;
} 

.planned
{
	background-color: #b6fbb6;
}

.other
{
	background-color: #fbb6b6;
}

.planned>div, .other>div
{
	width: 100%
}

.dancers
{
	display: flex;
	flex-wrap: wrap;
	width:100%;
}

.dancer_field
{
	width: 33%;
}

.dancer
{
	font-weight: normal;
}

.learner
{
	color: red;
}

.etiquette
{
	font-weight: bold;
}


@media (min-width:992px)
{
	#time
	{
		position: fixed;
		top: 0;
		left: 40vw;
		width: 20vw;
		background: white;
		border-radius: 0 0 5px 5px;
		padding: 20px;
		text-align: center;
		box-shadow: 2px 2px 5px black;
	}
}

@media (min-width:1200px)
{
	#time
	{
		position: fixed;
		top: 50vh;
		left: 0;
		border-radius: 0 5px 5px 0;
	}
}
