body
{
	background: rgb(230, 230, 230) fixed right top;
	background-image: url(img/arriere-plan.jpg);
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: rgb(30,29,29);
	box-sizing: border-box;
}

h1, h2, h3
{
	color: rgb(53, 139, 78);
	font-weight:bold;
}

h1, h3
{
	text-align: center;
}

h3
{
	font-size: 1em;
	margin-top:0;
}

a:hover
{
	font-style: italic;
	text-decoration: none;
}

#page
{
	background: white;
	padding: 0 14px;
	max-width: 1040px;
}


/****************************
*							*
*			Header			*
*							*
****************************/	
header
{
	padding:24px 0;
}

header img
{
	margin-top:24px;
	margin-right:auto;
	border-radius: 25px;
	box-shadow: rgb(64, 62, 99) 4px 4px 4px;
	max-width: 100%
}


/****************************
*							*
*			Navbar			*
*							*
****************************/
nav
{
	margin-top:24px;
	text-align: center;
}

button#menu-toggle
{
	background-color: rgb(235,235,235);
	cursor: pointer;
	color: #e89435;
	font-size:.8em;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	text-align: center;
	padding: .4em .7em;
	float: none;
	margin-right: 0;
}

button#menu-toggle:hover
{
	color: rgb(30,29,29);
}

button#menu-toggle.open
{
	color: #e89435;
	background-color: #e1e1e1;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: linear-gradient(top, #ebebeb, #e1e1e1);
	box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
	border-color: transparent;
}

#navbar-collapse-target ul
{
	padding-left: 0;
	list-style: none;
}

#navbar-collapse-target ul li
{
	margin-top: 1.7em;
}

#navbar-collapse-target ul, #navbar-collapse-target ul a
{
	color: #e89435;
}


/****************************
*							*
*			Main			*
*							*
****************************/

main.row
{
	margin: 0;
}

section p:last-of-type>a
{
	color: rgb(30,29,29);
}
	
aside
{
	background-color: rgb(192, 187, 223);
	margin-top: 1em;
	box-shadow: rgb(64, 59, 100) 6px 6px 6px;
	border-radius: 25px;
	padding: 1em;
}

.nav-pills a
{
	color: rgb(30,29,29);
}


/****************************
*							*
*			Footer			*
*							*
****************************/	
footer
{
	border-top: rgb(64, 62, 99) solid 2px;
	margin-top: 1.7em;
}

footer>div, footer img
{
	height: 78px;
	width: 81px;
	margin: 0.4em auto;
	margin-bottom: 0.8em;
}

footer>p
{
	color: #e89435;
	text-align: center;
	font-weight: bold;
	font-size: 0.8em;
}

/****************************
*							*
*			Tablettes		*
*							*
****************************/

@media (min-width:768px)
{
	#page
	{
		margin: 5vh auto;
		border-radius: 25px;
	}

	nav
	{
		border: 2px solid #530799;
		border-left:0;
		border-right: 0;
	}

	.navbar-collapse
	{

	}

	#navbar-collapse-target>div, #navbar-collapse-target ul
	{
		display:flex;
		justify-content: space-between;
		align-items: center;
		height:50px;
		margin: 0;
	}

	#navbar-collapse-target ul, #navbar-collapse-target ul a
	{
		color: rgb(53, 139, 78);
		font-weight: bold;
	}

	#navbar-collapse-target ul li
	{
		margin: 0 10px;
	}
}

/****************************
*							*
*			Bureau			*
*							*
****************************/

@media (min-width:992px)
{
	#page
	{
		padding: 0 40px;
	}

	#navbar-collapse-target ul li
	{
		margin: 0 20px;
	}
}

/****************************
*							*
*		Grand Bureau		*
*							*
****************************/

@media (min-width:1200px)
{	
	#navbar-collapse-target ul li
	{
		margin: 0 20px;
	}
}