{% extends "::layout.html.twig" %}

{% block title %}
	Liste des choses à faire | {{ parent() }}
{% endblock %}

{% block styles %}
	{% stylesheets filter="cssrewrite, ?scssphp" output="css/todo.min.css" 
	"css/style.css"
	"css/todo.css"  %}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	<h1>ToDo List</h1>

    <ul>
    	<li class="optimisation">Auto-cocher les danses des niveaux inferieurs lors du choix du niveau d'un nouveau danseur</li>
    	<li class="optimisation">Auto-cocher les sous-parties lors du choix d'une danse dans le formulaire de danseurs</li>
    	<li class="optimisation">Mettre en place un système de drag'n'drop sur la page de gestion de programme</li>
    	<li class="optimisation">Ajouter une methode aux routes (et découpler les actions entre affichage et traitement des formulaires)</li>
    	<li class="optimisation">Ameliorer l'affichage des danses dans la page de liste</li>
    	<li class="optimisation">Recuperation des données sur Google Docs</li>
    	<li class="optimisation">Envoyer mail aux danseurs concernés lors mise en place ou modification du programme d'une prestation</li>
    	<li class="optimisation">
    		Lors de la suppression d'un danseur ou d'une danse, renvoyer des erreurs sur les prestations à venir les incluant,
	    	et hardcoder leur nom dans les anciennes prestations.
    	<li class="optimisation">Style en LESS</li>
    	<li class="optimisation">Traduire l'appli en anglais et en irlandais.</li>
    	<li class="warning">Faire des tests et des tests unitaires</li>
    </ul>
{% endblock %}
