{% extends "::layout.html.twig" %}

{% block title %}
	Ajouter une nouvelle danse | {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Nouvelle Danse</h1>
    {% include("SedPrestationsBundle:Dances:form.html.twig") %}
{% endblock %}
