{% form_theme form 'SedPrestationsBundle::submit.html.twig' %}

{{ form_start(form) }}
{{ form_errors(form) }}

<div class="form-group">
	{{ form_label(form.name, "Nom") }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }}	
</div>

<div class="form-group">
	{{ form_label(form.duree, "Durée") }}
    {{ form_errors(form.duree) }}
    {{ form_widget(form.duree) }}	
</div>

{{ form_row(form.niveau) }}

<div class="form-group">
	{{ form_label(form.hard, "Est-ce une danse en Hard shoes ?") }}
    {{ form_errors(form.hard) }}
    {{ form_widget(form.hard) }}	
</div>

<div class="form-group">
	{{ form_label(form.ceili, "Est-ce un ceili ?") }}
    {{ form_errors(form.ceili) }}
    {{ form_widget(form.ceili) }}	
</div>

<div class="form-group">
	{{ form_label(form.final, "Est-ce un final ?") }}
    {{ form_errors(form.final) }}
    {{ form_widget(form.final) }}	
</div>

<div class="form-group">
	{{ form_label(form.nbMinimum, "Nombre de danseurs minimum") }}
    {{ form_errors(form.nbMinimum) }}
    {{ form_widget(form.nbMinimum) }}	
</div>

<div class="form-group">
	{{ form_label(form.ratio, "Si concernée, combien de femmes pour un homme ?") }}
    {{ form_errors(form.ratio) }}
    {{ form_widget(form.ratio) }}	
</div>

<div class="form-group">
	{{ form_label(form.palierDanseurs, "Nombre de danseurs dans un groupe ajoutable") }}
    {{ form_errors(form.palierDanseurs) }}
    {{ form_widget(form.palierDanseurs) }}	
</div>

<div class="form-group">
	{{ form_label(form.variante, "De quelle danse est-ce une variante ?") }}
    {{ form_errors(form.variante) }}
    {{ form_widget(form.variante) }}	
</div>

<div class="form-group">
	{{ form_label(form.sousPartie, "De quelle danse est-ce une sous-partie ?") }}
    {{ form_errors(form.sousPartie) }}
    {{ form_widget(form.sousPartie) }}	
</div>

{{ form_rest(form) }}
{{ form_end(form) }}
	
<p><a href="{{ path("sed_prestations_dances_show") }}"><i class="fa fa-arrow-left"></i>&nbsp;Retour</a></p>
