{% extends "::layout.html.twig" %}

{% block title %}
	Liste des danses | {{ parent() }}
{% endblock %}

{% block styles %}
	{% include ("SedPrestationsBundle:css:liste.html.twig") %}
{% endblock %}

{% block content%}
    <h1>Danses</h1>
    
	{%  for key, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="alert alert-{{ key }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
    
    <table>
        <thead>
            <tr>
                <th>Nom</th>
        	</tr>
        </thead>
        <tbody>
        {% for dance in dances %}
			<tr>
            {% if dance.sousPartie is not empty %}
            	<td class="sousPartie">
            {% elseif dance.variante is not empty %}
            	<td class="variante">
            {% else %}
            	<td>	
            {% endif %}	
            
        	{% if dance.sousPartie is not empty %}
            		<i class="fa fa-angle-double-right"></i>
            {% elseif dance.variante is not empty %}
            		<i class="fa fa-chevron-right"></i>
        	{% endif %}
            		
            		{{ dance.name }}
            	</td>
            	<td>
            		<a href="{{ path("sed_prestations_dances_update", {id:dance.id}) }}"><img src="{{ asset("images/update.png") }}" alt="Modifier" title="Modifier"/></a>
            		<a href="{{ path("sed_prestations_dances_delete", {id:dance.id}) }}"><img src="{{ asset("images/delete.png") }}" alt="Supprimer" title="Supprimer"/></a>
            	</td>
            </tr>
		{% endfor %}
        </tbody>
    </table>
    
	<div class="pagination-wrapper">    
        <ul class="pagination">
            {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
            {% for p in range(1, nbPages) %}
            <li{% if p == page %} class="active"{% endif %}>
            	<a href="{{ path('sed_prestations_dances_show', {'page': p}) }}">{{ p }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <p><a href="{{ path("sed_prestations_dances_add") }}">Ajouter une nouvelle danse</a></p>
{% endblock %}
