{% extends "::layout.html.twig" %}

{% block title %}
	Modification de {{ dance.name }} | {{ parent() }}
{% endblock %}

{% block content %}
    <h1>{{ dance.name }}</h1>
    
	{%  for key, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="alert alert-{{ key }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	
    {% include("SedPrestationsBundle:Dances:form.html.twig") %}
{% endblock %}
