<div class="controles">
    {% if entourage.previous != 0 %}
    <a href="{{ path("sed_prestations_front_view", {id:entourage.previous}) }}" class="precedent" title="Précédente"><i class="fa fa-arrow-left"></i>&nbsp;Précédente</a>
    {% endif %}
    {%  if entourage.next != 0 %}
    <a href="{{ path("sed_prestations_front_view", {id:entourage.next}) }}" class="suivant" title="Suivante">Suivante&nbsp; <i class="fa fa-arrow-right"></i></a>
    {% endif %}
</div>
