<ul class="nav nav-pills nav-stacked">
    {% if prestations is not empty %}
    	{% for prestation in prestations %}
	{{ prestation.date | date("d/m/y") }}&nbsp;:
	<a href="{{ path("sed_prestations_front_view", {id:prestation.id}) }}">{{ prestation.lieu }}</a><br/>
    	{% endfor %}
	{% else %}
		Pas de prestations de prévue&nbsp;!
	{% endif %}
</ul>
