{% extends "::layout.html.twig" %}

{% block title %}
	Bienvenue | {{ parent() }}
{% endblock %}

{% block content %}
	<h1>Bienvenue sur l'interface de gestion de prestations d'Irish Tap and Dance</h1>
	
	<p>Ordre dans lequel ajouté des entités&nbsp;:
	<ol>
		<li>Danse</li>
		<li>Danseur</li>
		<li>Prestation</li>
	</ol>
{% endblock %}
