{% extends "::layout.html.twig" %}

{% block title %}
	{{ prestation.lieu }} - {{ prestation.date | date("d/m/y")}} | {{ parent() }}
{% endblock %}

{% block styles %}
	{% include ("SedPrestationsBundle:css:show.html.twig") %}
{% endblock %}

{% block content %}
	{% include("SedPrestationsBundle:Front:controles.html.twig") %}
	
	<h1>{{ prestation.lieu }}</h1>
	
	<p><strong>Lieu&nbsp;:</strong> {{ prestation.lieu }}</p>
	<p><strong>Date&nbsp;:</strong> {{ prestation.date | date("d/m/y")}}</p>
	<p><strong>Durée&nbsp;:</strong> {{ prestation.duree }} minutes</p>

    <div>
    	<strong>Danseurs&nbsp;:</strong><br/>
    	{% if prestation.danseurs is not empty%}
    	<ul>
    		{% for danseur in prestation.danseurs %}
    		<li>{{ danseur.name }}</li>
    		{% endfor %}
    	</ul>
    	{% else %}
    	<ul><li>Il n'y a pas encore de danseurs.</li></ul>
    	{% endif %}
    </div>

    <h2>Programme&nbsp;:</h2>
    {% if prestation.danses is not empty %}
    <ul>
        {%  for chore in prestation.danses %}
    	<li>
    	    {{ chore.dance.name }} ({% for dancer in chore.dancers%}{{ dancer.name }}{% if loop.last != true %}, {% endif %}{% endfor %})
	    </li>
    	{% endfor %}
    </ul>
    {% else %}
	<ul><li>Le programme n'est pas défini.</li></ul>
    {% endif %}
    
	{% include("SedPrestationsBundle:Front:controles.html.twig") %}
{% endblock %}
